<?xml version="1.0"?>
<SendMailConfig>  
  <MailModelGeneral><!--通知1-->
    <style class="fox_global_style">
      div.fox_html_content {
      line-height: 1.5;
      }
      /* 一些默认样式 */

      blockquote {
      margin-Top: 0px;
      margin-Bottom: 0px;
      margin-Left: 0.5em;
      }

      ol, ul {
      margin-Top: 0px;
      margin-Bottom: 0px;
      list-style-position: inside;
      }

      p {
      margin-Top: 0px;
      margin-Bottom: 0px;
      }
    </style>
    <title>工资单</title>
    <table width="100%" border="0" align="center" cellspacing="0" style="width: 100%;">
      <tbody>
        <tr>
          <td>
            <div style="width: 700px; margin: 0 auto; border-bottom: 1px solid #ccc; margin-bottom: 30px;">
            </div>
            <div style="width: 90%; padding: 0pt 10px; margin: 0pt auto;">
              <div style="line-height: 1.5; font-size: 14px; margin-bottom: 25px; color: rgb(77, 77, 77);">
                <strong style="display: block; margin-bottom: 15px;">亲爱的用户： [姓名]您好！</strong>
                <table style="background: #f5f5f5;">
                  <tbody>
                    <tr>
                      <td>
                        <p>
                          您的 [工资日期] 工资如下,请查看
                        </p>
                      </td>
                    </tr>
                    <tr style="height: 60px;">
                      <td>
                        <div>
                          <table border="1">
                            <tbody>
                              <tr>
                                <th>部门</th>
                                <th>员工号</th>
                                <th>姓名</th>
                                <th>基础工资</th>
                                <th>绩效工资</th>
                                <th>年功工资</th>
                                <th>津补贴</th>
                                <th>加班费</th>
                                <th>补发补扣</th>
                                <th>小计</th>
                                <th>误餐费</th>
                                <th>女工</th>
                                <th>车贴</th>
                                <th>保健</th>
                                <th>房贴</th>
                                <th>其它</th>
                                <th>应发工资</th>
                                <th>扣水电</th>
                                <th>扣暖气</th>
                                <th>扣物管</th>
                                <th>养老保险</th>
                                <th>医疗保险</th>
                                <th>失业保险</th>
                                <th>公积金</th>
                                <th>年金</th>
                                <th>补扣款</th>
                                <th>扣个税</th>
                                <th>实发工资</th>
                              </tr>
                              <tr>
                                <td>[部门]</td>
                                <td>[员工号]</td>
                                <td>[姓名]</td>
                                <td>[基础工资]</td>
                                <td>[绩效工资]</td>
                                <td>[年功工资]</td>
                                <td>[津补贴]</td>
                                <td>[加班费]</td>
                                <td>[补发补扣]</td>
                                <td>[小计]</td>
                                <td>[误餐费]</td>
                                <td>[女工]</td>
                                <td>[车贴]</td>
                                <td>[保健]</td>
                                <td>[房贴]</td>
                                <td>[其它]</td>
                                <td>[应发工资]</td>
                                <td>[扣水电]</td>
                                <td>[扣暖气]</td>
                                <td>[扣物管]</td>
                                <td>[养老保险]</td>
                                <td>[医疗保险]</td>
                                <td>[失业保险]</td>
                                <td>[公积金]</td>
                                <td>[年金]</td>
                                <td>[补扣款]</td>
                                <td>[扣个税]</td>
                                <td>[实发工资]</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div style="width: 700px; margin: 0 auto;">

              <div style="padding: 10px 10px 0; border-top: 1px solid #ccc; color: #999; margin-bottom: 20px; line-height: 1.3em; font-size: 12px;">
                <p style="margin-bottom: 15px;">
                  此为系统邮件，请勿回复
                  请保管好您的邮箱，避免账户被他人使用
                </p>
                <p>
                  Copyright <a href="#">立方云软件</a> 2004-2015 All Right Reserved
                </p>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </MailModelGeneral>
  <host>
    smtp.163.com
  </host>
  <mailFrom>
    gzdgly@163.com
  </mailFrom>
  <mailPwd>
    Aa111111
  </mailPwd>
  <mailFromDisplay>
    锻造厂工资单
  </mailFromDisplay>
  <wageDate>
    2015年6月
  </wageDate>
  <AdminMail>
    jobgaohao@163.com
  </AdminMail>
</SendMailConfig>